body { background-color:#080808; }
p { color:#009BFF; font-family:verdana; }
table { color:#ACDA00; font-family:verdana; }

a:link { color:#666666; }
a:visited { color:#777777; }
a:hover { color:#008866; }
a:active { color:#008866; }

.username {
 font-size:400%;
 font-weight:bold;
 color:#214456;
}

.userinfo {
 font-size:80%;
 fot-weight:normal;
 color:#009BFF;
}

.imgname {
 font-size:60%;
 font-weight:bold;
 color:#214456;
}
