<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wownet community</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
		<header>
			Wownet community tho'
		</header>

		<nav>
			<a href="/">Blog</a> /
			<a href="/articles">Articles</a> /
			<del>Image dashboard</del>
		</nav>

		<hr>
		<br>
			Welcome to templates place. In here I storage templates for creating static web pages. Until I automate things
			I will continue using templates. Or even after that, who knows?

			<h3>List of templates</h3>
			<ul>
				<li><a href="main.html">Main template</a></li>
			</ul>

			<h3>List of experimental pages</h3>
			<ul>
				<li><a href="entry.php">Mainpage with random header image</a></li>
				<li><a href="error.php">Main error handler page</a></li>
			</ul>
		<br>
		<hr>

		<footer>
			Build with love and lots of sleepless nights.
			<br>Only use with modern browsers and good screen resolutions. Didn't test so much.
		</footer>
	</body>
</html>
