<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wownet community</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
		<header>
			Wownet community tho'
		</header>

		<nav>
			<a href="/">Blog</a> /
			<a href="/articles">Articles</a> /
			<del>Image dashboard</del>
		</nav>

		<hr>
		<br>
		Add content to here.
		<br>
		<hr>

		<footer>
			Build with love and lots of sleepless nights.
			<br>Only use with modern browsers and good screen resolutions. Didn't test so much.
		</footer>
	</body>
</html>
